/* app/globals.css */

/* Tailwind 기본 스타일 적용 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.root-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display : flex;
  max-width: 480px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
  background-color: black;
}




/* 웹뷰 및 모바일 최적화 */
@media {
  body {
    font-size: 16px;
  }
}

